In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("messy_customer_sales.csv")
df.head()

   Customer_ID     Name   Age Gender  Total_Sales Signup_Date
0          101    Alice  25.0      F        100.0  2022-01-15
1          102      Bob  30.0      M        150.0  15/02/2022
2          103  Charlie  35.0      M        200.0  2022/03/10
3          104    David  40.0      M        250.0  2022-04-05
4          105      NaN   NaN      F        300.0  2022-05-20

In [4]:
print(df.isnull().sum())

Customer_ID    0
Name           1
Age            1
Gender         0
Total_Sales    1
Signup_Date    1
dtype: int64

**Fix Columns**

In [16]:
df["Signup_Date"] = pd.to_datetime(df["Signup_Date"], errors="coerce")

In [17]:
print(df["Signup_Date"])

0    2022-01-15
1           NaT
2           NaT
3    2022-04-05
5           NaT
6           NaT
7    2022-08-30
9    2022-10-10
10          NaT
Name: Signup_Date, dtype: datetime64[ns]

In [18]:
df["Gender"] = df["Gender"].str.lower().map({"m":"male", "male":"male", "f":"female", "female":"female", "Male": "M", "Female": "F", "Other": "O"})

In [19]:
df["Name"] = df["Name"].str.title()

In [20]:
df["Total_Sales"] = pd.to_numeric(df["Total_Sales"], errors="coerce")

**Drop null values**

In [21]:
df["Total_Sales"].fillna(df["Total_Sales"].median(), inplace=True)

C:\Users\lucky\AppData\Local\Temp\ipykernel_11696\2955515176.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Total_Sales"].fillna(df["Total_Sales"].median(), inplace=True)

In [22]:
df["Age"].fillna(df["Age"].median(), inplace=True)

C:\Users\lucky\AppData\Local\Temp\ipykernel_11696\2097741607.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)

In [23]:
df.dropna(subset=["Signup_Date"], inplace=True)

In [24]:
df.dropna(subset=["Name"], inplace=True)

In [25]:
df.dropna(subset=["Gender"], inplace=True)

In [36]:
# Check if there are any missing values left
print(df.isnull().sum())

# Check unique values in categorical columns to confirm standardization
print(df["Gender"].unique())
print(df["Name"].sample(n=min(5, len(df)), random_state=42))  # Random sample to verify title case formatting

# Check for any remaining non-numeric values in numeric columns
print(df.dtypes)

Customer_ID    0
Name           0
Age            0
Gender         0
Total_Sales    0
Signup_Date    0
dtype: int64
['female' 'male']
0    Alice
3    David
7    Grace
Name: Name, dtype: object
Customer_ID             int64
Name                   object
Age                   float64
Gender                 object
Total_Sales           float64
Signup_Date    datetime64[ns]
dtype: object

In [37]:
df.to_csv("cleaned_customer_sales.csv", index=False)